<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <a routerLink="/home">
        <img src="../../../assets/Chopper.png" alt="logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-1">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/pirata">Piratas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/capitao">Capitães</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/navio">Navios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/timoneiro">Timoneiros</a>
          </li>
        </ul>
        <form class="d-flex">
          <div *ngIf="usuario; else loginLink">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Conta
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- Adicione aqui as opções de controle de conta -->
                <a class="dropdown-item" routerLink="/perfil">Perfil</a>
                <a class="dropdown-item" (click)="logout()">Sair</a>
              </div>
            </div>
          </div>
          <ng-template #loginLink>
            <button mat-raised-button type="button" routerLink="/login">Entrar</button>
          </ng-template>
        </form>
      </div>
    </div>
  </nav>
</header>
<!-- <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
