<header>
  <nav class="d-none d-md-block"> <!-- desktop -->
    <div class="d-flex bg-dark bg-gradient justify-content-between">
      <a routerLink="/home">
        <img src="../../../assets/Chopper.png" alt="logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <mat-tab-group>
        <mat-tab label="Piratas">
          <a class="nav-link text-white" aria-current="page" routerLink="/pirata">Piratas</a>
        </mat-tab>
        <mat-tab label="Capitães" disabled>
          <a class="nav-link text-white" aria-current="page"></a>
        </mat-tab>
        <mat-tab label="Navios" disabled>
          <a class="nav-link text-white" aria-current="page"></a>
        </mat-tab>
        <mat-tab label="Timoneiros" disabled>
          <a class="nav-link text-white" aria-current="page"></a>
        </mat-tab>
      </mat-tab-group>
      <div class="d-flex justify-content-center align-items-center list-unstyled">
        <div *ngIf="!usuario">
          <button mat-raised-button routerLink="/login">Entrar</button>
        </div>
        <div *ngIf="usuario?.funcao === 'Administrador'">
          <button mat-raised-button [matMenuTriggerFor]="conteudos">Gerenciamento</button>
          <mat-menu #conteudos="matMenu">
            <ng-container *ngIf="usuario?.funcao === 'Administrador'">
              <button mat-menu-item routerLink="/admin/users">
                <mat-icon color="primary">people</mat-icon>Gerenciar Usuários
              </button>
            </ng-container>
          </mat-menu>
        </div>
        <div *ngIf="usuario">
          <button mat-raised-button [matMenuTriggerFor]="perfil">Conta</button>
          <mat-menu #perfil="matMenu">
            <button mat-menu-item routerLink="/user/profile-update"><mat-icon
                color="primary">account_circle</mat-icon>Atualizar perfil</button>
            <button mat-menu-item routerLink="/user/change-password" disabled><mat-icon color="primary">lock</mat-icon>Trocar
              senha</button>
            <button mat-menu-item (click)="logout()">
              <mat-icon color="primary">exit_to_app</mat-icon>
              Sair
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </nav>

  <nav class="d-md-none d-flex flex-column"> <!-- mobile -->
    <div class="bg-dark bg-gradient">
      <div class="d-flex justify-content-between">
        <a routerLink="/home">
          <img src="../../../assets/Chopper.png" alt="logo" width="50" height="50"
            class="d-inline-block align-text-top mt-2 ms-2">
        </a>
        <div *ngIf="!usuario" class="d-inline-block align-text-top mt-3 me-2">
          <button mat-raised-button routerLink="/login">Entrar</button>
        </div>
        <div *ngIf="usuario" class="list-unstyled ms-auto mt-2">
          <button mat-icon-button class="mx-1 ms-auto text-white"
            [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
          <mat-menu #menu="matMenu" class="mt-4">
            <ng-container *ngIf="usuario?.funcao === 'Administrador'">
              <button mat-menu-item routerLink="/admin/users" disabled>
                <mat-icon color="primary">people</mat-icon>Gerenciar Usuários
              </button>
            </ng-container>
            <button mat-menu-item routerLink="/user/profile-update"><mat-icon
                color="primary">account_circle</mat-icon>Atualizar perfil</button>
            <button mat-menu-item routerLink="/user/change-password" disabled><mat-icon color="primary">lock</mat-icon>Trocar
              senha</button>
            <button mat-menu-item (click)="logout()">
              <mat-icon color="primary">exit_to_app</mat-icon>
              Sair
            </button>
          </mat-menu>
        </div>
      </div>
      <ul class="d-flex justify-content-around list-unstyled mt-2">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="/pirata">Piratas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" disabled>Capitães</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" disabled>Navios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" disabled>Timoneiros</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
