<form [formGroup]="usuarioForm" (ngSubmit)="submit()">
  <div class="row mb-2 mb-md-0" *ngIf="usuarioLogin">
    <div class="col-12">
      <mat-form-field class="w-100 no-space-hint">
        <mat-label>Username</mat-label>
        <input title="username" matInput formControlName="username" name="username">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 pb-4 pb-sm-2">
        <mat-label>Senha</mat-label>
        <input title="password" matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="new-password"
          name="password" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-2 mb-md-0" *ngIf="usuarioCreate || usuarioUpdate">
    <div class="col-md">
      <div class="col-12">
        <mat-form-field class="w-100 no-space-hint">
          <mat-label>Username</mat-label>
          <input title="username" matInput formControlName="username" name="username">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100 no-space-hint">
          <mat-label>Primeiro nome</mat-label>
          <input title="primeiroNome" matInput formControlName="primeiroNome" name="primeiroNome">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100 no-space-hint">
          <mat-label>Último nome</mat-label>
          <input title="ultimoNome" matInput formControlName="ultimoNome" name="ultimoNome">
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-auto order-first order-md-last" *ngIf="usuarioUpdate">
      <div class="col-12 position-relative" *ngIf="coletaImagem">
        <label class="hoverable m-auto m-md-0" for="fileInput">
          <img title="image" [src]="url">
          <div class="hover-text" style="overflow-wrap: break-word;">Alterar imagem</div>
          <div class="background"></div>
        </label>
        <input id="fileInput" #fileInput type='file' accept="image/*"
            (change)="onSelectFile($event)">
          <button mat-icon-button color="primary" *ngIf="url" (click)="delete()" type="button"
            class="position-absolute top-0 end-0" style="margin: -12px -12px 0 0;">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="text-center">
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()" class="col-auto my-2">
              Alterar imagem
            </button>
          </div>
      </div>
    </div>
  </div>
  <div class="mb-2 mb-md-0" >
    <div class="row col-md">
      <div class="col-6">
        <mat-form-field class="w-100 no-space-hint">
          <mat-label>Email</mat-label>
          <input title="email" placeholder="example@example.com" matInput name="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 no-space-hint">
          <mat-label>Phone Number</mat-label>
          <input placeholder="(00) 00000-0000" title="phoneNumber" matInput name="phoneNumber"
            formControlName="phoneNumber">
        </mat-form-field>
      </div>
    </div>
    <div class="col-12" *ngIf="usuarioUpdate && dadosUsuario?.funcao === 'Administrador'">
      <mat-form-field class="w-100">
        <mat-label>Função</mat-label>
        <mat-select formControlName="funcao" placeholder="Nível de acesso as funções do site">
          <mat-option *ngFor="let item of funcao" [value]="item" disabled="true">
            {{ item | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field *ngIf="coletaSenha" class="w-100 pb-4 pb-sm-2">
        <mat-label>Senha</mat-label>
        <input title="password" matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="new-password"
          name="password" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>A senha deve ter ao menos 6 caracteres</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field *ngIf="coletaSenha" class="w-100 pb-4 pb-sm-2">
        <mat-label>Confirmar senha</mat-label>
        <input title="confirm-password" matInput [type]="hidePasswordConfirmation ? 'password' : 'text'"
          formControlName="confirmarSenha">
        <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" type="button">
          <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Confirme a senha inserida anteriormente</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" class="w-100" [disabled]="!usuarioForm.valid"
    type="submit">{{textoTipoAcaoBotao}}</button>
</form>
