<div class="background d-flex justify-content-center align-items-center m-0">
  <div class="w-100 container p-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="w-100">
          <h1 class="mat-h1">Atualizar perfil</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-usuario-form
        [textoTipoAcaoBotao]="'Atualizar'"
        [dadosUsuario]="usuario"
        [usuarioCreate]="false"
        [usuarioLogin]="false"
        [usuarioUpdate]="true"
        [coletaPhoneNumber]="true"
        [coletaImagem]="true"
        [coletaSenha]="false">
        </app-usuario-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
