<mat-card class="background">
  <mat-card-title class="text-white ms-3 mb-2 mt-2">Adicionar Capitão</mat-card-title>
  <mat-card-content>
    <form [formGroup]="camposCapitao">
      <div class="row g-0 gap-0 mb-2 mb-md-0 mt-3">
        <div class="col-md">
          <div class="col-12 mt-2" [ngStyle]="{ 'margin-top.px': isMobile ? -35 : 0 }">
            <mat-form-field appearance="fill" class="w-100 no-space-hint">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Ex. Luffy" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="col-12 mt-4" [ngStyle]="{ 'margin-top.px': isMobile ? -55 : 0 }">
            <mat-form-field appearance="fill" class="w-100 no-space-hint mt-4">
              <mat-label>Piratas</mat-label>
              <mat-select formControlName="piratas" multiple>
                <mat-select-trigger>
                  {{ displaySelectedPirates(camposCapitao.get('piratas')?.value) || '' }}
                </mat-select-trigger>
                <mat-option *ngFor="let pirata of todosPiratas" [value]="pirata">{{ pirata.nome }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-auto order-first order-md-last ms-3">
          <div class="col-12 text-center">
            <label class="hoverable m-md-0 centralize-on-mobile" for="fileInput" (mouseenter)="isHovered = true"
              (mouseleave)="isHovered = false">
              <img title="image" [src]="imagemUrl">
              <div class="hover-text" style="overflow-wrap: break-word;">Alterar imagem</div>
              <div class="background" *ngIf="isHovered"></div>
            </label>
            <input id="fileInput" #fileInput type="file" accept="image/*" (change)="onSelectFile($event)">
            <div class="delete-button">
              <div class="text-center">
                <button mat-raised-button color="primary" type="button" (click)="fileInput.click()"
                  class="col-auto my-2" style="margin-left: -25px;">
                  Alterar imagem
                </button>
              </div>
              <button mat-icon-button color="primary" *ngIf="imagemUrl" (click)="delete()" type="button"
                class="position-absolute top-0 end-0" style="margin-top: 30px;">
                <mat-icon style="margin-left: 8px; margin-top: 3px;">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-container *ngIf="!camposCapitao.valid; else Salvar">
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <div matTooltip="Preencha todos os campos primeiramente" matTooltipPosition="below">
              <button mat-raised-button color="primary" size="small" [disabled]="true">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #Salvar>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <button mat-raised-button color="primary" size="small" (click)="generateFormData()">Salvar</button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
