<div class="background m-0 d-flex justify-content-center">
  <div class="container-xxl w-100">
    <div class="row my-3 px-3 mt-1">
      <ng-container *ngIf="this.usuario; else loga">
        <div class="col-12 col-md-auto mt-2 me-auto">
          <button mat-raised-button class="w-100" color="primary" type="button" routerLink="/pirata/create">Novo Pirata
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #loga>
        <div class="col-12 col-md-auto mt-2 me-auto">
          <button mat-raised-button class="w-100" color="primary" type="button" routerLink="/login">Novo Pirata
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>
    </div>

    <div class="d-md-none my-3 col-auto px-3">
      <button mat-raised-button class="w-100" color="primary" type="button"
        (click)="showMobileFilter=!showMobileFilter">Visualizar filtro
        <mat-icon *ngIf="!showMobileFilter">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="showMobileFilter">keyboard_arrow_up</mat-icon>
      </button>
    </div>

    <div [ngClass]="{'d-none d-md-block': !showMobileFilter}" class="py-2 py-md-0">
      <form class="row w-100 m-0" [formGroup]="filterForm">
        <mat-form-field class="col-12 col-md-8 mt-3 px-3 no-space-hint" appearance="outline">
          <mat-label>Pesquisar por nome ou função:</mat-label>
          <input title="pesquisar" matInput formControlName="search" (keyup)="onKeyUp($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-4 mt-3 px-3 no-space-hint" appearance="outline">
          <mat-label>Quantidade por página</mat-label>
          <mat-select #pageSize formControlName="pageSize">
            <mat-option *ngIf="!pageSizeValues.includes(pageSize.value)"
              [value]=pageSize.value>{{pageSize.value}}</mat-option>
            <mat-option *ngFor="let item of pageSizeValues" [value]=item>{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="col-12 my-3 px-3 position-relative">
      <div style="overflow: auto; display: grid;">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

          <ng-container matColumnDef="imagemURL">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <img class="foto-pirata" title="imagemPirata" [src]="mostrarImagem(row.imagemURL)">
            </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome </th>
            <td mat-cell *matCellDef="let row">{{row.nome | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="capitao">
            <th mat-header-cell *matHeaderCellDef>Capitão</th>
            <td mat-cell *matCellDef="let row">{{row.capitao?.nome | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="funcao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Função</th>
            <td mat-cell *matCellDef="let row">{{row.funcao | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="dataIngressoTripulacao">
            <th mat-header-cell *matHeaderCellDef>Data Ingresso</th>
            <td mat-cell *matCellDef="let row">{{row.dataIngressoTripulacao}}</td>
          </ng-container>

          <ng-container matColumnDef="objetivo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Objetivo</th>
            <td mat-cell *matCellDef="let row">{{row.objetivo}}</td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row" [class.nowrap]="true">
              <div class="d-flex">
                <ng-container *ngIf="usuario?.funcao === 'Administrador'; else Usuario">
                  <button matTooltip="Atualizar informações" [matTooltipPosition]="'above'" mat-icon-button
                    color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button matTooltip="Excluir pirata" [matTooltipPosition]="'above'" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
                <ng-template #Usuario>
                  <div matTooltip="Usuário sem permissão" [matTooltipPosition]="'above'">
                    <button mat-icon-button color="primary" (click)="handleUnauthorized()">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="handleUnauthorized()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <mat-paginator #paginator [length]="piratasPaginado.totalItems" [pageSize]="piratasPaginado.pageSize"
        [pageIndex]="piratasPaginado.pageNumber" [pageSizeOptions]="pageSizeValues" showFirstLastButtons="false"
        hidePageSize="true" (page)="handlePageEvent($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
