.mdc-card__actions {
  min-height: 20px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1px 0;
  margin-top: 10px;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.74);
}

.separator-text {
  font-size: 90%;
  margin: 0 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ffffffd5;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: #cccccc;
}

.google-icon {
  width: 18px;
  height: 28px;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.google-login-button span {
  vertical-align: middle;
}
